<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes da Compra</title>
</head>
<body>
    <h1>Detalhes da Compra</h1>
    <p>ID do Ingresso: {{purchase.ticketId}}</p>
    <p>Quantidade: {{purchase.quantity}}</p>
    <p>ID do Usuário: {{purchase.userId}}</p>
</body>
</html>